/.DS_Store
*.a
*.o
.nrepl-port
node_modules

api-server/target
api-server/.lein-failures
delectus-api/target

webapp/delectus/.shadow-cljs/
webapp/delectus/resources/public/js/
webapp/delectus/target

