/.DS_Store
/ios/Delectus2/Delectus2/mocl
capuchin/engine/libDelectus.a
capuchin/engine/scm/api/api.o
capuchin/engine/scm/api/Delectus.o
capuchin/engine/scm/api/Delectus_.o
capuchin/engine/scm/api/engine.o
capuchin/engine/scm/base/constants.o
capuchin/engine/scm/data/columns.o
capuchin/engine/scm/data/entries.o
capuchin/engine/scm/data/registry.o
capuchin/engine/scm/data/rows.o
capuchin/engine/scm/data/tables.o
capuchin/engine/scm/data/views.o
capuchin/engine/scm/io/csv.o
capuchin/engine/scm/io/io-formats.o
capuchin/engine/scm/io/io.o
capuchin/engine/scm/lib/filter-keys.o
capuchin/engine/scm/lib/functions.o
capuchin/engine/scm/lib/lists.o
capuchin/engine/scm/lib/sort-keys.o
capuchin/engine/scm/lib/Sort.o
capuchin/engine/scm/lib/strings.o
capuchin/engine/scm/lib/vectors.o
