.AddColumnButton {
  float: right;
  font-size: larger;
  font-weight: bold;
}

.AddRowButton {
  font-size: larger;
  font-weight: bold;
}

.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 32px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.ListBox {
  border-style: solid;
  border-width: 1;
  margin: 1em;
  padding: 1em;
}