.App {
  text-align: center;
}

.bold { font-weight: bold; }

.Button {
  background-color: #4CAF50;
    border: none;
    color: white;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    padding: 0.25em 1.25em;
    text-align: center;
    text-decoration: none;
}

.Cell {
  border: 1px solid black;
  padding: 0.5em 0.5em;
}

.DocEntry {
  background-color: white;
  margin-top: 1em;
  width: 100%;
}

.DocEntryTable {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.EditorContentsTable {
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 1em;
  width: 100%;
}

.EditorTextArea {
  font-size: medium;
  padding: 5px;
  width: 98%;
}

.Frame {
  padding-left: 1em;
  padding-right: 1em;
}

.left { text-align: left; }

.right { text-align: right; }
