.App {
  text-align: center;
}

.bold { font-weight: bold; }

.DocEntry {
  background-color: white;
  margin-top: 1em;
  width: 100%;
}

.DocEntryButton {
  background-color: #4CAF50;
    border: none;
    color: white;
    display: inline-block;
    font-size: small;
    font-weight: bold;
    padding: 0.25em 1.25em;
    text-align: center;
    text-decoration: none;
}

.DocEntryButtonCell {
  border: 1px solid black;
  padding: 0.5em 0.25em;
  text-align: center;
}

.DocEntryCell {
  border: 1px solid black;
  padding: 0.25em 0.5em;
  text-align: left;
}

.DocEntryTable {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.DocList {
  padding-left: 1em;
  padding-right: 1em;
}

