.App {
  text-align: center;
}

.bgwhite { background-color: white; }

.bold { font-weight: bold; }

.center { text-align: center; }

.DocEntry {
  background-color: white;
  margin-top: 1em;
}

.DocEntryCell {
  border: 1px solid black;
  padding: 0.25em;
  text-align: left;
}

.DocEntryTable {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.DocList {
  margin-left: 5%;  
  margin-right: 5%;  
  width: 90%;
}

.f12pt { font-size: 12pt; }

.left { text-align: left; }

.right { text-align: right; }
